In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../data/processed/df_train_iforest_kt_pred.csv',sep=';', index_col=0)

In [5]:
df

,iforest_score,ind_var30,var36,var15,num_var4,num_var8_0,ind_var13_0,ind_var12_0,saldo_var30,ind_var39_0,...,var36_log,num_aport_var33_ult1_log,ind_var14_0_log,num_var4_log,imp_compra_var44_hace3_log,num_compra_var44_hace3_log,saldo_medio_var13_largo_hace3_log,ind_var43_recib_ult1_log,num_trasp_var11_ult1_log,saldo_var30_log
20731,-0.297802,1.0,99.0,23.0,1.0,0.0,0.0,0.0,3.00,1.0,...,4.595120,0.010986,0.0,0.000000,0.033069,0.010986,0.059587,0.0,0.010986,1.098612
65772,-0.303929,1.0,2.0,51.0,1.0,0.0,1.0,0.0,150000.00,1.0,...,0.693147,0.010986,0.0,0.000000,0.033069,0.010986,0.059587,0.0,0.010986,11.918391
45571,-0.298263,0.0,99.0,44.0,0.0,0.0,0.0,0.0,0.00,1.0,...,4.595120,0.010986,0.0,0.000000,0.033069,0.010986,0.059587,0.0,0.010986,-0.035066
55900,-0.297752,1.0,3.0,57.0,1.0,0.0,0.0,0.0,60.00,1.0,...,1.098612,0.010986,0.0,0.000000,0.033069,0.010986,0.059587,0.0,0.010986,4.094345
75618,-0.298681,0.0,99.0,61.0,0.0,0.0,0.0,0.0,0.00,1.0,...,4.595120,0.010986,0.0,0.000000,0.033069,0.010986,0.059587,0.0,0.010986,-0.035066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37194,-0.306389,1.0,2.0,42.0,2.0,0.0,0.0,0.0,3.00,1.0,...,0.693147,0.010986,0.0,0.693147,0.033069,0.010986,0.059587,0.0,0.010986,1.098612
6265,-0.297530,1.0,99.0,23.0,1.0,0.0,0.0,0.0,3.00,1.0,...,4.595120,0.010986,0.0,0.000000,0.033069,0.010986,0.059587,0.0,0.010986,1.098612
54886,-0.297233,1.0,3.0,27.0,1.0,0.0,0.0,0.0,3.00,1.0,...,1.098612,0.010986,0.0,0.000000,0.033069,0.010986,0.059587,0.0,0.010986,1.098612
860,-0.318765,1.0,1.0,17.0,1.0,0.0,0.0,1.0,36012.69,0.0,...,0.000000,0.010986,0.0,0.000000,0.033069,0.010986,0.059587,0.0,0.010986,10.491627
15795,-0.297563,1.0,99.0,24.0,1.0,0.0,0.0,0.0,3.00,1.0,...,4.595120,0.010986,0.0,0.000000,0.033069,0.010986,0.059587,0.0,0.010986,1.098612

In [6]:
df['iforest_score'] =df['iforest_score']*-1

In [7]:
df.head()

,iforest_score,ind_var30,var36,var15,num_var4,num_var8_0,ind_var13_0,ind_var12_0,saldo_var30,ind_var39_0,...,var36_log,num_aport_var33_ult1_log,ind_var14_0_log,num_var4_log,imp_compra_var44_hace3_log,num_compra_var44_hace3_log,saldo_medio_var13_largo_hace3_log,ind_var43_recib_ult1_log,num_trasp_var11_ult1_log,saldo_var30_log
20731,0.297802,1.0,99.0,23.0,1.0,0.0,0.0,0.0,3.0,1.0,...,4.595120,0.010986,0.0,0.0,0.033069,0.010986,0.059587,0.0,0.010986,1.098612
65772,0.303929,1.0,2.0,51.0,1.0,0.0,1.0,0.0,150000.0,1.0,...,0.693147,0.010986,0.0,0.0,0.033069,0.010986,0.059587,0.0,0.010986,11.918391
45571,0.298263,0.0,99.0,44.0,0.0,0.0,0.0,0.0,0.0,1.0,...,4.595120,0.010986,0.0,0.0,0.033069,0.010986,0.059587,0.0,0.010986,-0.035066
55900,0.297752,1.0,3.0,57.0,1.0,0.0,0.0,0.0,60.0,1.0,...,1.098612,0.010986,0.0,0.0,0.033069,0.010986,0.059587,0.0,0.010986,4.094345
75618,0.298681,0.0,99.0,61.0,0.0,0.0,0.0,0.0,0.0,1.0,...,4.595120,0.010986,0.0,0.0,0.033069,0.010986,0.059587,0.0,0.010986,-0.035066

prob_0	= probabilidade de estar satisfeito  
prob_1 = probabilidade de churn

In [8]:
def ks(data=None,target=None, prob=None):
    ## finding at: https://www.listendata.com/2019/07/KS-Statistics-Python.html
    data['target0'] = 1 - data[target]
    data['bucket'] = pd.qcut(data[prob], 5)
    grouped = data.groupby('bucket', as_index = False)
    kstable = pd.DataFrame()
    kstable['min_prob'] = grouped.min()[prob]
    kstable['max_prob'] = grouped.max()[prob]
    kstable['events']   = grouped.sum()[target]
    kstable['nonevents'] = grouped.sum()['target0']
    kstable = kstable.sort_values(by="min_prob", ascending=False).reset_index(drop = True)
    kstable['event_rate'] = (kstable.events / data[target].sum()).apply('{0:.2}'.format).astype(float) * 100
    kstable['nonevent_rate'] = (kstable.nonevents / data['target0'].sum()).apply('{0:.2}'.format).astype(float) * 100
    kstable['cum_eventrate']=(kstable.events / data[target].sum()).cumsum()
    kstable['cum_noneventrate']=(kstable.nonevents / data['target0'].sum()).cumsum()
    kstable['KS'] = np.round(kstable['cum_eventrate']-kstable['cum_noneventrate'], 3) * 100

    #Formating
    kstable['cum_eventrate']= kstable['cum_eventrate'].apply('{0:.2}'.format).astype(float) * 100
    kstable['cum_noneventrate']= kstable['cum_noneventrate'].apply('{0:.2}'.format).astype(float) * 100
    kstable.index = range(1,6)
    kstable.index.rename('Decile', inplace=True)
    pd.set_option('display.max_columns', 9)
    # print(kstable)
    
    #Display KS
    from colorama import Fore
    print(Fore.RED + "KS is " + str(max(kstable['KS']))+"%"+ " at decile " + str((kstable.index[kstable['KS']==max(kstable['KS'])][0])))
    return(kstable)

In [9]:
ks(df, target='TARGET', prob='iforest_score')

KS is 25.8% at decile 3

,min_prob,max_prob,events,nonevents,event_rate,nonevent_rate,cum_eventrate,cum_noneventrate,KS
Decile,,,,,,,,,
1,0.301159,0.616627,393,11770,16.0,20.0,16.0,20.0,-3.8
2,0.298467,0.301159,791,11372,33.0,19.0,49.0,40.0,9.7
3,0.298139,0.298467,721,8133,30.0,14.0,79.0,54.0,25.8
4,0.297521,0.298139,337,15135,14.0,26.0,93.0,79.0,13.9
5,0.297225,0.297521,159,12005,6.6,21.0,100.0,100.0,-0.0

In [10]:
from sklearn.metrics import roc_auc_score

print("Roc Auc: ",roc_auc_score(df['TARGET'], df['iforest_score']))
print("Gini: ",2*(roc_auc_score(df['TARGET'], df['iforest_score']))-1)

Roc Auc:  0.5902757392699545
Gini:  0.18055147853990894

In [15]:
from scipy.stats import ks_2samp
yhat = df['iforest_score']
y = df['TARGET']
def ks_stat(y, yhat):
    return ks_2samp(yhat[y==1], yhat[y!=1]).statistic
print("KS: ",ks_stat(y, yhat))

KS:  0.2582828854264587